<mat-toolbar color="primary">
  Dashboard
  <span class="space"></span>
  <button mat-button>Orders</button>
  <button mat-button *ngIf="add_technician == true">Staff</button>
  <button mat-button *ngIf="generate_report == true">Site Stats</button>
  <button mat-button *ngIf="view_clients == true">Clients</button>
  <button mat-button (click)="logUserOut()">Log out</button>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Pending">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Service</th>
            <th>Action</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let p of pending">
            <td>{{p.fullname}}</td>
            <td>{{p.county}}</td>
            <td>{{p.category}}</td>
            <td>{{p.sub}}</td>
            <td>{{p.subsub}}</td>
            <td>
              <button class="btn btn-default" (click)="viewOrder(p._id)">View</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Quoted">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Price</th>
            <th>Approve</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let q of quoted">
            <td>{{q.fullname}}</td>
            <td>{{q.county}}</td>
            <td>{{q.category}}</td>
            <td>{{q.sub}}</td>
            <td>{{q.price}}</td>
            <td>
              <button class="btn btn-success" (click)="approveOrder(q._id)" [disabled]="q.approved">Approve</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Approved">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Price</th>
            <th>Appliance</th>
            <th>Action</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let a of approved">
            <td>{{a.fullname}}</td>
            <td>{{a.county}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.price}}</td>
            <td>{{a.subsub}}</td>
            <td>
              <button class="btn btn-default" title="When order has been paid and job has been completed.">Complete Order</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Completed">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Service</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let co of completed">
            <td>{{co.fullname}}</td>
            <td>{{co.county}}</td>
            <td>{{co.category}}</td>
            <td>{{co.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Cancelled">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Service</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let c of cancelled">
            <td>{{c.fullname}}</td>
            <td>{{c.county}}</td>
            <td>{{c.category}}</td>
            <td>{{c.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="All">
    <div class="tablewrapper">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sub - Category</th>
            <th>Service</th>
          </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let all of history">
            <td>{{all.fullname}}</td>
            <td>{{all.county}}</td>
            <td>{{all.category}}</td>
            <td>{{all.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>