<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">

        <h1 style="font-size: 45px; font-weight: 900;">Graphine EA Limited</h1>
        <p>
          Wherever you are, whatever appliances you are using in your office, 
          home or commercial venture, you can rely on Graphine EA experts to provide you with professional 
          maintenance service to make your appliance performance back to quality and your business 
          life running.
        </p>
        <p>
          We are constantly looking beyond customers' and society expectations in order to deliver appliances 
          pinnacle maintenance service. At the pinnacle of providing specialized maintenance solutions 
          that improve quality, business operations and productivity, Graphine EA helps individuals and 
          businesses to best set the pace of their expectations alongside our team of experts, that will 
          significantly add value to them and ensure business sustainability as well affordable to their margins. 
        </p>

    </div>
    <div class="col-sm-6">
      <br>
      <br>
      <div class="text-center">
        <img src="./assets/images/graphine_logo.png" width="250px" height="250px" alt="Logo">
      </div>

    </div>
  </div>
</div>

<div class="jumbotron even">
  <div class="row">
    <div class="col-sm-6">
      <div class="row" style="margin-top: 25px;">
        <div class="col-sm-6">
          <div class="text-center">
            <img class="img-thumbnail rounded" src="./assets/images/appliance1.jpg" width="300px" height="300px" alt="Tech">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-center">
            <img src="./assets/images/appliance2.jpg" width="300px" height="300px" alt="Tech" class="img-thumbnail rounded">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <h1 style="font-size: 45px; font-weight: 900;">What we do.</h1>
        <p>
          At Graphine EA, we believe in shaping the future as the start of quality product life. 
          We work smart towards restoring that original product quality and customer happiness through 
          technologies that positively impact the society and environment. Our core work is to ensure 
          all the fault appliances are restored to their desired brand performance through our trusted team 
          of experts. Right from the scratch of the customer need to the pinnacle of the company's expertise, 
          we set milestone of standard maintenance service to all your home, residential or commercial appliance 
          that integrates to a global star customer satisfaction and business development.
        </p>
    </div>
  </div>
    
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
        <h1 style="font-size: 45px; font-weight: 900;">Is your appliance malfunctioning?</h1>
        <p>
            No need to hesitate or let fault impact negatively on your profit margin. We strive to restore 
            appliances quality performance on check. Our service is Reliable, affordable and professional 
            that will meet your flexible time set through our experts. We provide our diagnosis upfront, 
            through the right team of experts during client visit, before engaging in any further business.
            You would like to know more about us or the range of Brands covered. We are here for you.
            Just give us a call.
        </p>
    </div>
    <div class="col-sm-6">
      <div class="mygrid" style="margin-top: 30px;">
        <img class="mx-auto" title="Freezer" src="./assets/images/freezer.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="AC" src="./assets/images/ac.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="Fan" src="./assets/images/fan.png" width="70px" height="70px" alt="Freezer">

        <img class="mx-auto" title="Juicer" src="./assets/images/juicer.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="Microwave" src="./assets/images/microwave.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="Oven" src="./assets/images/stove.png" width="70px" height="70px" alt="Freezer">

        <img class="mx-auto" title="Vacuum cleaner" src="./assets/images/vacuum-cleaner.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="Washing machine" src="./assets/images/washing-machine.png" width="70px" height="70px" alt="Freezer">
        <img class="mx-auto" title="Fridge" src="./assets/images/fridge.png" width="70px" height="70px" alt="Freezer">
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      
      <h1 style="margin-left: 20px;">Find us opposite Garden City Mall, or better yet...</h1>
      <div class="text-center">
        <img src="./assets/images/ourmap.png" width="90%" alt="Map">
      </div>

    </div>
    <div class="col-sm-6">
      <h1>Talk to us...</h1>

      <form [formGroup]="talkForm" (submit)="talktous(talkForm.value)">
        <input type="text" placeholder="Name" formControlName="name" class="form-control">
        <br>
        <input type="email" placeholder="Email" formControlName="email" class="form-control">
        <br>
        <textarea name="message" id="message" formControlName="message" cols="30" rows="3" class="md-textarea" placeholder="Message"></textarea>
        <br>
        <input type="submit" value="Send" class="btn btn-success">
      </form>

    </div>
  </div>
</div>

<div class="jumbotron flexing even">
  <div>
    <h3 class="text-center">Purpose</h3>
    <p class="text-center">Bringing seamless appliances purpose and quality back to life.</p>
  </div>

  <div>
    <h3 class="text-center">Mission</h3>
    <p class="text-center">To exceed our customers' expectations through innovations and professional assurance, that delivers quality and impacts business sustainability.</p>
  </div>

  <div>
    <h3 class="text-center">Vision</h3>
    <p class="text-center">To be the Pinnacle of Standard Technical service, Conforming to pace set, Certified by customer experience</p>
  </div>
</div>