<mat-toolbar color="primary">
    <h3>Order for {{fullname}}</h3>
    <span class="space"></span>
    <a mat-button href="mailto://{{email}}?subject=Graphine EA Services for {{sub}}/{{subsub}} scheduled by you, {{fullname}}.">Email {{fullname}}</a>
    <a *ngIf="quoted" href="mailto://{{email}}?body=Graphine EA Limited. %0A%0A Quotation for {{sub}} > {{subsub}} services requested. %0A Price: KES{{price}} %0A%0A Payment can be made via our Mpesa PayBill Number: 000000" mat-button>Email Quote</a>
    <button mat-raised-button color="accent" style="margin: 5px;">Cancel Order</button>
    <button mat-raised-button color="primary" style="margin: 5px;">Generate Report</button>   
</mat-toolbar>

<div class="main-grid">
  <div style="background: #333; color: white; padding-left: 10px;">
    <mat-list>
      <h5 matSubHeader>Client Information</h5>
      <mat-list-item>{{fullname}}</mat-list-item>
      <mat-list-item>+254(0){{phone}}</mat-list-item>
      <mat-list-item>{{email}}</mat-list-item>
    </mat-list>

    <mat-list>
      <h5 matSubHeader>Location Information</h5>
      <mat-list-item>{{county}}</mat-list-item>
      <mat-list-item>{{town}}</mat-list-item>
      <mat-list-item>{{street}}</mat-list-item>
    </mat-list>

    <mat-list [disable]="quote_order">
      <h5 matSubHeader>Quotation</h5>
      <input type="number" length="6" [(ngModel)]="quotation_box" class="form-control" mat-list-item style="width: 80%; font-size: large; color: white;" placeholder="KES">
      <button mat-raised-button color="primary" (click)="quoteOrder(id, quotation_box)">Quote</button>
    </mat-list>

    <mat-list>
      <h5 matSubHeader>Job Status</h5>
      <mat-list-item *ngIf="completed" style="color: rgb(13, 233, 13)">Completed</mat-list-item>
      <mat-list-item *ngIf="quoted && !approved" style="color: rgb(113, 150, 113)">Quoted</mat-list-item>
      <mat-list-item *ngIf="approved" style="color: orange">Approved</mat-list-item>
      <mat-list-item *ngIf="pending" style="color: rgb(50, 230, 221)">Pending</mat-list-item>
      <mat-list-item *ngIf="cancelled" style="color: red">Cancelled</mat-list-item>
    </mat-list>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6">
          <div class="timewrapper">
              <mat-list>
                <h3 style="font-weight: 900" matSubHeader>Scheduled Arrival</h3>
                <mat-list-item style="color: #333">{{from}}</mat-list-item>
        
                <h3 style="font-weight: 900" matSubHeader>Scheduled Deadline</h3>
                <mat-list-item style="color: #333">{{to}}</mat-list-item>
              </mat-list>
          </div>
      </div>
      <div class="col-sm-6">
        <h4 style="font-weight: 800">Description</h4>
        <p>{{desc}}</p>
      </div>
    </div>
    

    <div class="row" style="padding-left: 15px;">
      <div class="col-sm-5">
        <mat-card *ngIf="price && quote_order" style="color: rgb(22, 201, 22);">
          KES {{price}}
        </mat-card>
        <mat-list>
          <h4 matSubHeader style="font-weight: 900">Category</h4>
          <mat-list-item>{{category}}</mat-list-item>
          <h4 matSubHeader style="font-weight: 900">Sub Category</h4>
          <mat-list-item>{{sub}}</mat-list-item>
          <h4 matSubHeader style="font-weight: 900">Sub Sub Category</h4>
          <mat-list-item>{{subsub}}</mat-list-item>
        </mat-list>
      </div>
      <div class="col-sm-7">
        <h3>Comments</h3>

        <mat-list style="height: 300px; overflow-y: scroll;">
          <form [formGroup]="commentForm" (submit)="submitForm(id, commentForm.value)">
            <input type="text" style="font-size: large; width: 90%" formControlName="comment" width="400px" placeholder="Edit views and press enter to comment" class="form-control">
          </form>
          <mat-list-item *ngFor="let comment of comments">
            
            <h3 matLine>{{comment.username}}</h3>
            <p matLine>{{comment.comment}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>