  <!-- PC Template -->
  <div class="container" *ngIf="isMobile === false; else mobile">
    <mat-toolbar class="header" *ngIf="dashboard == false;">
      <img src="./assets/images/graphine_logo.png" height="70px" width="70px" alt="Graphine East Africa Limited" (click)="goHome()">
      <span class="space"></span>
    
    
      <button mat-button>+254713925275</button>
      <button mat-button>+254751311979</button>
      <button mat-icon-button [matMenuTriggerFor]="mainmenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    
      <mat-menu #mainmenu>
        <button mat-menu-item [routerLink]="['/about']">About Graphine</button>
        <a href="#" target="blank" mat-menu-item>Chat with us</a>
        <button mat-menu-item>Find Our Offices</button>
        <button mat-menu-item (click)="toAdmin()">Dashboard</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <div class="jumbotron" *ngIf="dashboard == false;">
      <div class="row">
        <div class="col-sm-4">
          <h3>Graphine East Africa Limited</h3>
          <p class="text-muted">For all your repairs and maintenance solutions. Follow us on our social media pages for the free tips and interact with our content creators directly.</p>
        </div>

        <div class="col-sm-5 text-center">
          <br>
          <button mat-raised-button class="social" color="primary">Facebook</button>
          <button mat-raised-button class="social">Twitter</button>
          <br>
          <button mat-raised-button class="social" color="primary">Linked In</button>
          <button mat-raised-button class="social" color="warn">Instagram</button>
        </div>

        <div class="col-sm-3">
          <mat-list>
            <mat-list-item>PO BOX 4788-00200</mat-list-item>
            <mat-list-item>City Square</mat-list-item>
            <mat-list-item>Nairobi</mat-list-item>
            <mat-list-item>info@graphineeastafrica.com</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Template -->
  <ng-template #mobile>
    Mobile Site Goes Here
  </ng-template>
  <!-- end of Home Template -->


