
.alertbox {
    background: #F72929;
    padding: 7px;
    font-size: .9em;
    margin-top: 5px;
    color: white;
    margin-bottom: 5px;
    display: inline-block;
    animation: .6s alertAnim ease;
}

.form-control {
    width: 95% !important;
    font-size: large;
}

.md-textarea {
    font-size: large;
}

.jumbotron {
    margin-bottom: 0px;
    border-radius: 0;
    border-bottom: 1px solid gray;
}

@media screen and (max-width: 480px) {
    .flexbox {
        display: block;
    }

    .leftPanel {
        text-align: center;
    }

    .nav {
        background: royalblue;
    }

    .mat-list-item {
        color: white;
    }
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}