.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

th {
  font-size: large;
}

td {
  font-size: large;
}

input {
  width: 200px;
  margin: 0 5px;
}

.form-grid-6 {
  display: flex;
}