<nav>
  <mat-toolbar color="primary">

    <nav class="menu">
      <ul class="clearfix">
        <li><a>Residential Services</a>
          <ul class="submenu">
            <li><a (click)="schedule(1, 'Kitchen')">Kitchen</a></li>
            <li><a (click)="schedule(1, 'Laundry')">Laundry</a></li>
            <li><a (click)="schedule(1, 'Appliances')">Appliances</a></li>
            <li><a (click)="schedule(1, 'Refrigeration and Air Conditioning')">Refrigeration and Air Conditioning</a></li>
            <li><a (click)="schedule(1, 'Power Generators')">Power Generators</a></li>
            <li><a (click)="schedule(1, 'Security Systems')">Security Systems</a></li>
            <li><a (click)="schedule(1, 'Audio Visual Equipment')">Audio Visual Equipment</a></li>
          </ul>
        </li>
        <li><a>Hotel & Medical Institutions</a>
          <ul class="submenu">
              <li><a (click)="schedule(2, 'Kitchen')">Kitchen</a></li>
              <li><a (click)="schedule(2, 'Laundry')">Laundry</a></li>
              <li><a (click)="schedule(2, 'Appliances')">Appliances</a></li>
              <li><a (click)="schedule(2, 'Refrigeration and Air Conditioning')">Refrigeration and Air Conditioning</a></li>
              <li><a (click)="schedule(2, 'Laboratory Equipment')">Laboratory Equipment</a></li>
              <li><a (click)="schedule(2, 'Power Generators')">Power Generators</a></li>
              <li><a (click)="schedule(2, 'Audio Visual Equipment')">Audio Visual Equipment</a></li>
              <li><a (click)="schedule(2, 'Security Systems')">Security Systems</a></li>
              <li><a (click)="schedule(2, 'Steam Boilers')">Steam Boilers</a></li>
          </ul>
        </li>
        <li><a>Commercial Services</a>
          <ul class="submenu">
              <li><a (click)="schedule(3, 'Kitchen')">Kitchen</a></li>
              <li><a (click)="schedule(3, 'Laundry')">Laundry</a></li>
              <li><a (click)="schedule(3, 'Appliances')">Appliances</a></li>
              <li><a (click)="schedule(3, 'Refrigeration and Air Conditioning')">Refrigeration and Air Conditioning</a></li>
              <li><a (click)="schedule(3, 'Power Generators')">Power Generators</a></li>
              <li><a (click)="schedule(3, 'Security Systems')">Security Systems</a></li>
              <li><a (click)="schedule(3, 'Audio Visual Equipment')">Audio Visual Equipment</a></li>
              <li><a (click)="schedule(3, 'Steam Boilers')">Steam Boilers</a></li>
          </ul>
        </li>
        <li><a>Building Repairs</a>
          <ul class="submenu">
            <li><a (click)="schedule(4, 'Electrical Works')">Electrical Works</a></li>
            <li><a (click)="schedule(4, 'Water System and Drainage')">Water System and Drainage</a></li>
            <li><a (click)="schedule(4, 'Interior works')">Interior works</a></li>
            <li><a (click)="schedule(4, 'Civil Works')">Civil Works</a></li>
          </ul>
        </li>
        <li><a>Entertainment Equipment</a>
          <ul class="submenu">
            <li><a (click)="schedule(5, 'Audi Visual Equipment')">Audi Visual Equipment</a></li>
            <li><a (click)="schedule(5, 'Betting Machines')">Betting Machines</a></li>
            <li><a (click)="schedule(5, 'Kids Fun Machines')">Kids Fun Machines</a></li>
            <li><a (click)="schedule(5, 'Bouncing Castle')">Bouncing Castle</a></li>
            <li><a (click)="schedule(5, 'Kids Trains')">Kids Trains</a></li>
            <li><a (click)="schedule(5, 'Roll Caster & Speed Boats')">Roll Caster & Speed Boats</a></li>
            <li><a (click)="schedule(5, 'Kids Swings')">Kids Swings</a></li>
            <li><a (click)="schedule(5, 'Power Generators')">Power Generators</a></li>
            <li><a (click)="schedule(5, 'Security Systems')">Security Systems</a></li>
          </ul>
        </li>
        <li><a>Green Energy Solutions</a>
          <ul class="submenu">
            <li><a (click)="schedule(6, 'Maintenance')">Maintenance</a></li>
            <li><a (click)="schedule(6, 'Installation')">Installation</a></li>
            <li><a (click)="schedule(6, 'Energy Audit')">Energy Audit</a></li>
            <li><a (click)="schedule(6, 'Energy Saving Consultant')">Energy Saving Consultant</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </mat-toolbar>
</nav>

<div class="jumbotron coverimage">
  <img src="./assets/images/jumbotron2.jpg" alt="Graphine EA Limited" class="cover" width="100%" height="400px">

  <div class="middle-text">
    <h1>Graphine EA Limited</h1>
    <p class="text lead">Transforming the world.</p>
  </div>
  
</div>